# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Raw / generated data
data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

# Project raw datasets
!data/raw/festival_raw.json
!data/raw/experience_raw.json

# Logs
*.log
logs/
