# Virtual Environment
.venv/

# Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Cache
.pytest_cache/
.ruff_cache/

# Data
data/raw/*
data/extra/*
data/processed/*

!data/raw/.gitkeep
!data/extra/.gitkeep
!data/processed/.gitkeep

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
logs/
